.page-content {
	font-family: 'Play', sans-serif;

	.addPhotoLine {
		cursor: pointer;
		height: 3.3em;
		margin-bottom: 1em;
		&:hover {
			background-color: rgba(114, 113, 142, 0.6);
			color: white;
		}
		#addPhotoBtn {
			margin: 0.8em 0 0 1em;
			i {
				margin-left: 0.5em;
			}
		}
	}
}