.page-content {
	font-family: 'Play', sans-serif;

	.newAlbumLine {
		cursor: pointer;
		height: 3.3em;
		margin-bottom: 1em;
		&:hover {
			background-color: rgba(114, 113, 142, 0.6);
			color: white;
		}
		#newAlbumBtn {
			margin: 0.8em 0 0 1em;
			i {
				margin-left: 0.5em;
			}
		}
	}
}

.modal-dialog {
	margin: 10em auto;
}

.card-album {
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
	.card-img-top {
		cursor: pointer;
		position: relative;
		width: 100%;
		height: 100%;

		.img-info {
			padding-left: 0.5em;
			width: 100%;
			position: absolute;
			bottom: 0;
			z-index: 10;
			background-color: rgba(0, 0, 0, 0.57);
			color: white;

			span {
				i {
					margin-top: 0.25em;
					margin-right: 0.4em;
				}
			}
		}
	}
	.card-block {
		padding: 0.7rem;
		.text-muted {
			font-size: 0.7em;
		}
	}
}
