$transitionDuration: 0.3s;
$wrapperTransition: all $transitionDuration ease-out;
$ULwrapperTransition: all 0.2s ease-out;
$sideBarArrowTransition: padding $transitionDuration ease-out;
$sideBarWidth: 3.5em;
$wrap: 10rem;

/*navbar styling*/
.navbar-home {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	margin-right: auto;
	margin-left: auto;
	z-index: 2;
	background-color: white;
	.btn {
		margin-right: 1em;
	}
	.navbar-brand {
		cursor: pointer;
	}
	-webkit-transition: $wrapperTransition !important;
	transition: $wrapperTransition !important;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
	-moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

/*side bar styling*/
.sidebar-nav {
	font-family: 'Play', sans-serif;
	font-size: 1.1em;
	padding: 0;
	list-style: none;
	li {
		cursor: pointer;
		line-height: 3.5em;
		text-decoration: none;
		color: #dddddd;
		display: flex;
		i {
			padding: 20px 10px 0 10px;
			width: 3em;
		}
		&:hover {
			i, span {
				color: white;
			}
			background-color: rgba(114, 113, 142, 0.6);
		}
	}
}

/*hide navbar and make side bar full width on scroll down*/
.pageContentFullHeight {
	.navbar-home {
		top: -3.5em;
	}
	#sidebar-height-wrapper {
		top: 0;
	}
}

/*side bar width wrapper*/
#sidebar-wrapper {
	top: 0;
	position: fixed;
	width: $sideBarWidth;
	height: 100%;
	background-color: #2c3e50;
	-webkit-transition: $wrapperTransition;
	transition: $wrapperTransition;

	ul li span {
		-webkit-transition: $ULwrapperTransition;
		transition: $ULwrapperTransition;
		opacity: 0;
	}
	#toggleSidebar {
		padding-left: 0;
		height: 56px;
		-webkit-transition:  $sideBarArrowTransition;
		transition: $sideBarArrowTransition;
	}
	-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
	-moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

/*side bar navigation height wrapper*/
#sidebar-height-wrapper {
	position: relative;
	top: 3.4em;
	-webkit-transition: $wrapperTransition;
	transition: $wrapperTransition;
}

/*Change sidebar width*/
.menuDisplayed {
	#sidebar-wrapper {
		width: $wrap;
		ul li span {
			opacity: 1;
		}
		#toggleSidebar {
			padding-left: 110px;
		}
	}
	#page-content-wrapper {
		padding-left: $wrap;
	}
}

/*Main content width(padding-left) wrapper*/
#page-content-wrapper {
	font-size: 1em;
	width: 100%;
	padding: 0 0 15px $sideBarWidth;
	-webkit-transition: $wrapperTransition;
	transition: $wrapperTransition;
	.page-content {
		position: relative;
		top: 3.5em;
	}
}

/*jumbotron*/
.jumbotron-home {
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
	height: 100em;
	#dev {
		margin-top: 50px;
		p {
			font-size: 1.3em !important;
		}
	}
}