// navbar styles
$greyBorder: #e7e7e7;
$brand-danger: #d9534f;

.navbar-sign {
	margin-bottom: 2rem;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
	-moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
	.navbar-btn {
		margin-right: 5px !important;
	}

	.navbar-brand {
		cursor: pointer;
	}
}

// sign in/up forms
@mixin signUp-signIn-form {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
	.signForm-header {
		border-bottom: 1px solid $greyBorder;
		margin-bottom: 10px;
	}

	.signForm-body {
		border-bottom: 1px solid $greyBorder;
		margin-bottom: 10px;
	}
	.signForm-footer {
		height: 40px;

		.btn-success-outline {
			float: left;
			width: 100px;
		}
		.signForm-message {
			margin-top: 1rem;
		}
	}
}

.container-centered-signUpForm {
	@include signUp-signIn-form;
}

.container-centered-signInForm {
	@include signUp-signIn-form;
}

@mixin socialSignInBox {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
	.socialSignIn-header {
		border-bottom: 1px solid $greyBorder;
		margin-bottom: 10px;
	}

	.socialSignIn-body {
		padding-top: 10px;
		.btn-social, .btn-social-icon {
			margin: 10px auto;
			position: relative;
			max-width: 200px;
		}
	}
}

.socialSignIn {
	@include socialSignInBox;
	height: 304px;
}

.socialSignUp {
	@include socialSignInBox;
	height: 440px;
}

.blackBorderLeft {
}

@media (min-width: 768px) {
	.blackBorderLeft {
		border-left: 1px solid black;
	}
}
