.navbar-sign {
  margin-bottom: 2rem;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important; }
  .navbar-sign .navbar-btn {
    margin-right: 5px !important; }
  .navbar-sign .navbar-brand {
    cursor: pointer; }

.container-centered-signUpForm {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem; }
  .container-centered-signUpForm .signForm-header {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 10px; }
  .container-centered-signUpForm .signForm-body {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 10px; }
  .container-centered-signUpForm .signForm-footer {
    height: 40px; }
    .container-centered-signUpForm .signForm-footer .btn-success-outline {
      float: left;
      width: 100px; }
    .container-centered-signUpForm .signForm-footer .signForm-message {
      margin-top: 1rem; }

.container-centered-signInForm {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem; }
  .container-centered-signInForm .signForm-header {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 10px; }
  .container-centered-signInForm .signForm-body {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 10px; }
  .container-centered-signInForm .signForm-footer {
    height: 40px; }
    .container-centered-signInForm .signForm-footer .btn-success-outline {
      float: left;
      width: 100px; }
    .container-centered-signInForm .signForm-footer .signForm-message {
      margin-top: 1rem; }

.socialSignIn {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  height: 304px; }
  .socialSignIn .socialSignIn-header {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 10px; }
  .socialSignIn .socialSignIn-body {
    padding-top: 10px; }
    .socialSignIn .socialSignIn-body .btn-social, .socialSignIn .socialSignIn-body .btn-social-icon {
      margin: 10px auto;
      position: relative;
      max-width: 200px; }

.socialSignUp {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  height: 440px; }
  .socialSignUp .socialSignIn-header {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 10px; }
  .socialSignUp .socialSignIn-body {
    padding-top: 10px; }
    .socialSignUp .socialSignIn-body .btn-social, .socialSignUp .socialSignIn-body .btn-social-icon {
      margin: 10px auto;
      position: relative;
      max-width: 200px; }

@media (min-width: 768px) {
  .blackBorderLeft {
    border-left: 1px solid black; } }
/*navbar styling*/
.navbar-home {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin-right: auto;
  margin-left: auto;
  z-index: 2;
  background-color: white;
  -webkit-transition: all 0.3s ease-out !important;
  transition: all 0.3s ease-out !important;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important; }
  .navbar-home .btn {
    margin-right: 1em; }
  .navbar-home .navbar-brand {
    cursor: pointer; }

/*side bar styling*/
.sidebar-nav {
  font-family: 'Play', sans-serif;
  font-size: 1.1em;
  padding: 0;
  list-style: none; }
  .sidebar-nav li {
    cursor: pointer;
    line-height: 3.5em;
    text-decoration: none;
    color: #dddddd;
    display: flex; }
    .sidebar-nav li i {
      padding: 20px 10px 0 10px;
      width: 3em; }
    .sidebar-nav li:hover {
      background-color: rgba(114, 113, 142, 0.6); }
      .sidebar-nav li:hover i, .sidebar-nav li:hover span {
        color: white; }

/*hide navbar and make side bar full width on scroll down*/
.pageContentFullHeight .navbar-home {
  top: -3.5em; }
.pageContentFullHeight #sidebar-height-wrapper {
  top: 0; }

/*side bar width wrapper*/
#sidebar-wrapper {
  top: 0;
  position: fixed;
  width: 3.5em;
  height: 100%;
  background-color: #2c3e50;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important; }
  #sidebar-wrapper ul li span {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    opacity: 0; }
  #sidebar-wrapper #toggleSidebar {
    padding-left: 0;
    height: 56px;
    -webkit-transition: padding 0.3s ease-out;
    transition: padding 0.3s ease-out; }

/*side bar navigation height wrapper*/
#sidebar-height-wrapper {
  position: relative;
  top: 3.4em;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

/*Change sidebar width*/
.menuDisplayed #sidebar-wrapper {
  width: 10rem; }
  .menuDisplayed #sidebar-wrapper ul li span {
    opacity: 1; }
  .menuDisplayed #sidebar-wrapper #toggleSidebar {
    padding-left: 110px; }
.menuDisplayed #page-content-wrapper {
  padding-left: 10rem; }

/*Main content width(padding-left) wrapper*/
#page-content-wrapper {
  font-size: 1em;
  width: 100%;
  padding: 0 0 15px 3.5em;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  #page-content-wrapper .page-content {
    position: relative;
    top: 3.5em; }

/*jumbotron*/
.jumbotron-home {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  height: 100em; }
  .jumbotron-home #dev {
    margin-top: 50px; }
    .jumbotron-home #dev p {
      font-size: 1.3em !important; }

#checkAuthMessage {
  font-family: 'Play', sans-serif;
  max-width: 500px;
  margin: 0 auto; }
  #checkAuthMessage .card {
    font-size: 1.2em; }

.page-content {
  font-family: 'Play', sans-serif; }
  .page-content .newAlbumLine {
    cursor: pointer;
    height: 3.3em;
    margin-bottom: 1em; }
    .page-content .newAlbumLine:hover {
      background-color: rgba(114, 113, 142, 0.6);
      color: white; }
    .page-content .newAlbumLine #newAlbumBtn {
      margin: 0.8em 0 0 1em; }
      .page-content .newAlbumLine #newAlbumBtn i {
        margin-left: 0.5em; }

.modal-dialog {
  margin: 10em auto; }

.card-album {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto; }
  .card-album .card-img-top {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%; }
    .card-album .card-img-top .img-info {
      padding-left: 0.5em;
      width: 100%;
      position: absolute;
      bottom: 0;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0.57);
      color: white; }
      .card-album .card-img-top .img-info span i {
        margin-top: 0.25em;
        margin-right: 0.4em; }
  .card-album .card-block {
    padding: 0.7rem; }
    .card-album .card-block .text-muted {
      font-size: 0.7em; }

.page-content {
  font-family: 'Play', sans-serif; }
  .page-content .addPhotoLine {
    cursor: pointer;
    height: 3.3em;
    margin-bottom: 1em; }
    .page-content .addPhotoLine:hover {
      background-color: rgba(114, 113, 142, 0.6);
      color: white; }
    .page-content .addPhotoLine #addPhotoBtn {
      margin: 0.8em 0 0 1em; }
      .page-content .addPhotoLine #addPhotoBtn i {
        margin-left: 0.5em; }

body {
  font-size: 100%; }

/*# sourceMappingURL=index.css.map */
