<!--navbar - hided on scroll down-->

<nav class="navbar navbar-light navbar-home" scroll-navbar>
    <div class="container-fluid">

        <span class="navbar-brand" ui-sref="home">Social API integration</span>

        <button type="button"
                class="navbar-toggler hidden-sm-up pull-right"
                data-toggle="collapse"
                data-target="#home-navbar-toggle">
            &#9776;
        </button>

        <div class="collapse navbar-toggleable-xs pull-right" id="home-navbar-toggle">
            <ul class="nav navbar-nav">
                <li>
                    <button type="button" class="btn btn-secondary navbar-btn" ng-click="homeCTRL.signOut()"> Sign
                        out
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!--wrapper - full window height on scroll down-->
<div id="scroll-wrapper">

    <!--sidebar-->
    <div id="sidebar-wrapper">
        <div id="sidebar-height-wrapper">
            <ul class="sidebar-nav">
                <li id="toggleSidebar" toggle-class="menuDisplayed">
                    <i class="toggleSidebar"
                       ng-class="scopeControllerVM.isOpen ?'fa fa-angle-double-left' :'fa fa-angle-double-right'"></i>
                </li>
                <li ui-sref="home"><i class="fa fa-home"></i><span>Main</span></li>
                <li ui-sref="gallery"><i class="fa fa-camera"></i><span>Gallery</span></li>
                <li ui-sref="home"><i class="fa fa-cog"></i><span>Settings</span></li>
            </ul>
        </div>
    </div>

    <div id="page-content-wrapper">
        <div class="container-fluid page-content">
            <div class="row addPhotoLine" ngf-select ngf-multiple="true" ng-model="albumCTRL.files">
                <div id="addPhotoBtn"><span>Add photo<i class="fa fa-plus"></i></span></div>
            </div>


            <div class="row">
                <div class="col-xs-12">

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" ng-repeat="photo in albumCTRL.photos">

                        <div class="card card-album">
                            <div class="card-img-top" >
                                <img style="max-width: 100%;max-height: 100%" ng-src="{{ photo.queryname }}">
                                <div class="img-info">
                                    <span class="text-left">{{ photo.filename }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
