<!--navigation bar-->
<nav class="navbar navbar-light navbar-sign">
    <div class="container">

        <span class="navbar-brand" ui-sref="home">Social API</span>

        <button type="button"
                class="navbar-toggler hidden-sm-up pull-right"
                data-toggle="collapse"
                data-target="#navbar-toggle">
            &#9776;
        </button>


        <div class="collapse navbar-toggleable-xs pull-right" id="navbar-toggle">
            <button type="button" class="btn btn-secondary navbar-btn" ui-sref="signUp"> Sign up</button>
            <button type="button" class="btn btn-secondary navbar-btn" ui-sref="signIn"> Sign in</button>
        </div>

    </div>
</nav>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div id="checkAuthMessage">
                <div class="card card-block card-inverse card-danger">
                   <div class="card-title">Authentication required</div>
                    <div class="card-text">Sorry, to access requested resource authentication is required.</div>
                </div>
            </div>
        </div>
    </div>
</div>
