<!--navbar - hided on scroll down-->

<nav class="navbar navbar-light navbar-home" scroll-navbar>
    <div class="container-fluid">

        <span class="navbar-brand" ui-sref="home">Social API</span>

        <button type="button"
                class="navbar-toggler hidden-sm-up pull-right"
                data-toggle="collapse"
                data-target="#home-navbar-toggle">
            &#9776;
        </button>

        <div class="collapse navbar-toggleable-xs pull-right" id="home-navbar-toggle">
            <ul class="nav navbar-nav">
                <li>
                    <button type="button" class="btn btn-secondary navbar-btn" ng-click="homeCTRL.signOut()"> Sign
                        out
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!--wrapper - full window height on scroll down-->
<div id="scroll-wrapper">

    <!--sidebar-->
    <div id="sidebar-wrapper">
        <div id="sidebar-height-wrapper">
            <ul class="sidebar-nav">
                <li id="toggleSidebar" toggle-class="menuDisplayed">
                    <i class="toggleSidebar"
                       ng-class="scopeControllerVM.isOpen ?'fa fa-angle-double-left' :'fa fa-angle-double-right'"></i>
                </li>
                <li ui-sref="home"><i class="fa fa-home"></i><span>Main</span></li>
                <li ui-sref="gallery"><i class="fa fa-camera"></i><span>Gallery</span></li>
                <li ui-sref="home"><i class="fa fa-cog"></i><span>Settings</span></li>
            </ul>
        </div>
    </div>

    <div id="page-content-wrapper">
        <div class="container-fluid page-content">
            <div class="newAlbumLine row"
                 data-toggle="modal"
                 data-target="#newAlbumModel">
                <div id="newAlbumBtn"><span>Create a new album<i class="fa fa-plus"></i></span></div>
            </div>


            <div class="modal fade" id="newAlbumModel" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <h4 class="modal-title">New album</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="recipient-name"
                                           class="control-label">Title:</label>
                                    <input ng-model="galleryCTRL.newAlbum.title"
                                           type="text"
                                           class="form-control"
                                           id="recipient-name">
                                </div>
                                <div class="form-group">
                                    <label for="message-text"
                                           class="control-label">Description:</label>
                                    <textarea ng-model="galleryCTRL.newAlbum.description"
                                              class="form-control"
                                              id="message-text"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button"
                                    class="btn btn-primary"
                                    ng-click="galleryCTRL.createAlbum()">Create album</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" ng-repeat="album in galleryCTRL.albums">

                        <div class="card card-album">
                            <div class="card-img-top" ui-sref="album({albumId :album._id})">
                                <img style="max-width: 100%;max-height: 100%" ng-src="{{ album.thumbnail }}">
                                <div class="img-info">
                                    <span class="text-left">{{ album.title }}</span>
                                    <span class="text-right pull-right"><i class="fa fa-camera pull-right"></i>{{ album.quantity }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
