<!--navbar - hided on scroll down-->

<nav class="navbar navbar-light navbar-home" scroll-navbar>
    <div class="container-fluid">

        <span class="navbar-brand" ui-sref="home">Social API</span>

        <button type="button"
                class="navbar-toggler hidden-sm-up pull-right"
                data-toggle="collapse"
                data-target="#home-navbar-toggle">
            &#9776;
        </button>

        <div class="collapse navbar-toggleable-xs pull-right" id="home-navbar-toggle">
            <ul class="nav navbar-nav">
                <li>
                    <button type="button" class="btn btn-secondary navbar-btn" ng-click="homeCTRL.signOut()"> Sign
                        out
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!--wrapper - full window height on scroll down-->
<div id="scroll-wrapper">

    <!--sidebar-->
    <div id="sidebar-wrapper">
        <div id="sidebar-height-wrapper">
            <ul class="sidebar-nav">
                <li id="toggleSidebar" toggle-class="menuDisplayed">
                    <i class="toggleSidebar"
                       ng-class="scopeControllerVM.isOpen ?'fa fa-angle-double-left' :'fa fa-angle-double-right'"></i>
                </li>
                <li ui-sref="home"><i class="fa fa-home"></i><span>Main</span></li>
                <li ui-sref="gallery"><i class="fa fa-camera"></i><span>Gallery</span></li>
                <li ui-sref="home"><i class="fa fa-cog"></i><span>Settings</span></li>
            </ul>
        </div>
    </div>

    <div id="page-content-wrapper">
        <div class="container-fluid page-content">
            <div class="row">
                <div class="col-xs-12">

                    <div class="jumbotron jumbotron-home">
                        <h1>Social API project</h1>

                        <h2>Server side</h2>

                        <p>NodeJs + Express. Database - MongoDb</p>

                        <h2>Front-end</h2>

                        <p>AngularJs, Bootstrap, Sass</p>

                        <h2>Authentication</h2>

                        <p>PassportJs with strategies: local, google, vkontakte, facebook, github.</p>

                        <div id="dev"><p>Developed by: Alexander Suvorov <br>
                            Email: <a href="mailto:alex.suv89@gmail.com">alex.suv89@gmail.com</a></p></div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
