<!--navigation bar-->
<nav class="navbar navbar-light navbar-sign">
    <div class="container">

        <span class="navbar-brand" ui-sref="home">Social API</span>

        <button type="button"
                class="navbar-toggler hidden-sm-up pull-right"
                data-toggle="collapse"
                data-target="#navbar-toggle">
            &#9776;
        </button>


        <div class="collapse navbar-toggleable-xs pull-right" id="navbar-toggle">
            <button type="button" class="btn btn-secondary navbar-btn" ui-sref="signUp"> Sign up</button>
            <button type="button" class="btn btn-secondary navbar-btn" ui-sref="signIn"> Sign in</button>
        </div>

    </div>
</nav>

<div class="col-sm-12 col-md-push-3 col-md-6 col-lg-push-4 col-lg-4">

    <div class="row">
        <div class="col-sm-7">
            <div class="container-centered-signUpForm">

                <div class="signForm-header">
                    <h3>Sign up</h3>
                </div>

                <div class="signForm-body">
                    <form role="form" name="signUpCTRL.signUpForm"
                          ng-keypress="signUpCTRL.onKeyPressLog($event)">
                        <div class="form-group">
                            <label for="email"><h4>Email address</h4></label>
                            <input
                                    type="email"
                                    id="email"
                                    class="form-control"
                                    ng-model="signUpCTRL.userSignUp.email" required/>
                        </div>

                        <div class="form-group">
                            <label for="password"><h4>Password</h4></label>
                            <input
                                    type="password"
                                    id="password"
                                    class="form-control"
                                    ng-pattern="signUpCTRL.namePattern"
                                    ng-maxlength=10
                                    ng-minlength=5
                                    ng-model="signUpCTRL.userSignUp.password" required/>
                        </div>
                        <h6>Password should be from 5 to 10 letters or digits, no spaces allowed</h6>

                        <div class="form-group">
                            <label for="repPassword"><h4>Repeate password</h4></label>
                            <input
                                    type="password"
                                    id="repPassword"
                                    class="form-control"
                                    ng-pattern="signUpCTRL.namePattern"
                                    ng-maxlength=10
                                    ng-minlength=5
                                    ng-model="signUpCTRL.userSignUp.repPassword" required/>
                        </div>

                    </form>
                </div>

                <div class="signForm-footer">

                    <button
                            type="submit"
                            class="btn btn-success-outline text-center"
                            ng-disabled="signUpCTRL.signUpForm.$invalid"
                            ng-click="signUpCTRL.signUpUser()">{{ signUpCTRL.signUpButton }}
                    </button>

                    <div
                            class="col-xs-12 alert alert-danger fade in signForm-message" role="alert"
                            ng-show="signUpCTRL.message.show">
                        {{ signUpCTRL.message.body }}
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-5 blackBorderLeft">

            <div class="socialSignUp">
                <div class="socialSignIn-header">
                    <h3>Sign up with</h3>
                </div>

                <div class="socialSignIn-body">

                    <a target="_self" href="/auth/google" class="btn btn-block btn-social btn-google">
                        <i class="fa fa-google"></i>
                        Google
                    </a>

                    <a target="_self" href="/auth/vkontakte" class="btn btn-block btn-social btn-vk ">
                        <i class="fa fa-vk"></i>
                        Vkontakte
                    </a>

                    <a target="_self" href="/auth/github" class="btn btn-block btn-social btn-github ">
                        <i class="fa fa-github"></i>
                        GitHub
                    </a>

                    <a target="_self" href="/auth/facebook" class="btn btn-block btn-social btn-facebook">
                        <i class="fa fa-facebook"></i>
                        Facebook
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>

